Package: com.dgh0st.dimness
Name: Dimness
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Allow lower screen brightness via software dimming.
Maintainer: DGh0st <deeppwnage@yahoo.com>
Author: DGh0st <deeppwnage@yahoo.com>
Section: Tweaks
